body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  width: 100vw;
}
.login-image {
  flex: 2;
  height: 100vh;
  position: relative;
}
.login-container {
  flex: 1;
  background-color: rgb(14, 14, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-input {
  padding: 10px 20px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  transition: border 0.3s;
}

h1 {
  margin: 0;
}
.btn-submit {
  color: rgb(14, 14, 14);
  background: white;
  width: 100%;
  padding: 15px 0;
  border-radius: 5px;
  margin: 20px 0;
  opacity: 0.9;
  font-weight: 700;
  letter-spacing: 1.2px;
  transition: opacity 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}
.user-label {
  font-weight: 400;
  color: #c4c4c4;
}
.btn-submit:hover {
  opacity: 1;
}

.login-text {
  color: white;
  text-align: center;
}
#error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

