* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  background-color: #f9f9f9;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.bg-image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}
a {
  text-decoration: none;
}
.header {
  background-color: #ffffff6c;
  backdrop-filter: blur(3px);
  color: #222;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header .logout-btn {
  background-image: linear-gradient(to right, #666664, #000000);
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  border: 2px solid #222;
}
.header .logout-btn:hover {
  background-image: linear-gradient(to right, #000000, #424242);
  border: 2px solid #222;
  color: #ffff;
}
.main {
  flex: 1;
  padding: 20px;
  margin: auto;
  width: 500px;
  text-align: center;
}
#create-todo {
  padding: 20px 50px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  transition: border 0.3s;
  border-color: #ea4cff;
}

#todo-list {
  background-color: #fff;
  margin: 20px 0;
  padding: 10px 10px;
  border: 1px solid #ea4cff;
  border-radius: 5px;
}
input[type="checkbox"] {
  appearance: none;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  margin: 10px;
  text-align: center;
}
input[type="checkbox"]:checked::before {
  content: "✔";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(58, 196, 255), rgb(231, 95, 255));
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  color: #fff;
}
.main h1 {
  margin-bottom: 20px;
  color: #fff;
}
.todoWrap {
  display: flex;
}
.todoWrap label {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}
